#main-footer {
  position: fixed;
  width: 100%;
  // left: 10%;
  bottom: 0%;
  right: 0%;
  background-color: black;
  // display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 8%;
  color: white;
}
p {
  text-align: center;
  padding-top: 25px;
}
